<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Student details</title>
	<link rel="stylesheet" href="" th:href="@{/css/myStyle.css}" />
</head>
<body>
	<h3 align="right">
		<a th:href="@{/login?logout}"><img src="/image/exit.png" width="50" /></a>
	</h3>

	<table border=1 align="center">
		<tr>
			<td><form th:action="@{/}" >
					<input type="image" src="/image/home.jpg" height="30" width="40" />
				</form></td>
			<th>Id</th>
			<th>Name</th>
			<th>Pay dates</th>
		</tr>
		
		<div th:each="student : ${studentList}">
			<tr>
				<td></td>
				<td><div th:text="${student.id}"></div></td>
				<td><div th:text="${student.studentName}"></div></td>
				<span th:each="pay_date : ${student.payDates}">
					<td><div th:text="${pay_date}"></div></td>
				</span>
				<td><a th:href="@{/pay(id=${student.id})}">Pay more</a></td>
			</tr>
		</div>
	</table>
</body>
</html>