<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Release</title>
	<link rel="stylesheet" href="" th:href="@{/css/myStyle.css}" />
</head>
<body>
	<h3 align="left"><form th:action="@{/}" >
					<input type="image" src="/image/home2.png" height="30" width="40" />
	</form></h3>

	<form th:action="@{/delete}" th:object="${leftStudentData}"
		method="post">
		<table align="center">
			<tr>
				<td>Enter Student Id</td>
				<td><input type="text" th:field="*{id}" /></td>
			</tr>
			<tr>
				<td>Last date</td>
				<td><input type="date" th:field="*{lastDate}" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="image" src="/image/submit.png" width="70" height="30" /></td>
			</tr>
		</table>
	</form>
</body>
</html>
